.typehead * {
    margin: 0;
}

.effective-dropdown>button {
    background-color: rgba(245, 245, 245, 0.22);
    color: whitesmoke;
    border: none;
    font-size: medium;
    font-weight: 400;
    border-width: 1px !important;
    border-color: whitesmoke !important;
}

.consultation-bg {
    background-color: transparent;
    padding: 1rem;
    border-width: 1px !important;
    border-color: whitesmoke !important;
}


.a {
    font-weight: 500;
}