@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("https://fonts.cdnfonts.com/css/ibm-plex-sans-hebrew");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://unicons.iconscout.com/release-pro/v4.0.0/css/solid.css');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: whitesmoke;
    overflow-x: hidden;

    background: rgb(5, 190, 205);
    background: linear-gradient(90deg, rgba(5, 188, 205, 0.859) 0%, rgba(58, 124, 217, 0.837) 35%, rgba(123, 45, 231, 0.865) 100%);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a {
    cursor: pointer;
    transition: all 200ms linear;
}

a:hover {
    text-decoration: none;
}

.link {
    color: #c4c3ca;
}

.link:hover {
    color: whitesmoke;
}

p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
}

h4 {
    font-weight: 600;
}

.card-title {
    text-transform: capitalize;
    font-family: 'Vazirmatn', sans-serif;
    font-size: 60px;
}


.card-title.diminished {
    text-transform: capitalize;
    font-family: 'Vazirmatn', sans-serif;
    font-size: 50px;

}

.card-title.diminished.more {
    text-transform: capitalize;
    font-family: 'Vazirmatn', sans-serif;
    font-size: 30px;

}

.page-title {
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Vazirmatn', sans-serif;
    font-size: 85px;
}

h6 span {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.section {
    position: relative;
    width: 100%;
    display: block;
}

.full-height {
    min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: whitesmoke;
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: whitesmoke;
    /*here here*/
    background: #31b043;
    font-family: 'unicons';
    z-index: 20;
    top: -10px;
    content: '\eb4f';
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}

.checkbox:checked+label:before {
    transform: translateX(44px) rotate(-270deg);
}


.card-3d-wrap {
    position: relative;
    width: 390px;
    max-width: 100%;
    height: 440px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 30px;
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(10, 14, 55, 0.096);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}


.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
}


.form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: whitesmoke;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input::-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input::-webkit-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}


/* CSS */
.btn {
    align-items: center;
    background: rgba(101, 78, 78, 0.1);
    box-shadow: 0 8px 32px 0 rgba(18, 23, 84, 0.096);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    color: whitesmoke;
    cursor: pointer;
    display: inline-flex;
    fill: whitesmoke;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn.special {
    border-color: rgba(239, 242, 246, 0.626);
    color: rgba(239, 242, 246, 0.951);
    fill: rgba(239, 242, 246, 0.647);
}

.btn:focus {
    color: rgb(239, 242, 246);
}

.btn:hover,
.btn:active {
    border-color: rgb(239, 242, 246);
    color: rgb(239, 242, 246);
    fill: rgb(239, 242, 246);
}

.btn:active {
    border-color: rgb(239, 242, 246);
    color: rgb(239, 242, 246);
    fill: rgb(239, 242, 246);
}

.btn.special:hover {
    background-color: #c4c3ca5a;
}

.btn.special:focus {
    box-shadow: none;
    background-color: #c4c3ca5a !important;
    color: inherit !important;
}

.btn.special:active {
    background-color: #c4c3ca5a !important;
    color: inherit !important;
}




.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
}

.logo img {
    height: 26px;
    width: auto;
    display: block;
}

/*mine*/

.my-nav {
    background: rgba(65, 65, 65, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.custom-hover:hover {
    background-color: rgba(255, 255, 255, 0.267) !important;
}

.glossy-card {
    background: rgba(88, 63, 107, 0.25);
    box-shadow: 0 8px 32px 0 rgba(10, 14, 55, 0.096);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.glossy-card-dark {
    background: rgba(209, 162, 250, 0.25);
    box-shadow: 0 8px 32px 0 rgba(10, 14, 55, 0.096);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.glossy-card-non-border {
    background: rgba(88, 63, 107, 0.25);
    box-shadow: 0 8px 32px 0 rgba(10, 14, 55, 0.096);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.accordion-button {
    background: rgba(109, 108, 108, 0.25);
    box-shadow: 0 8px 32px 0 rgba(10, 14, 55, 0.096);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: whitesmoke;
}

.accordion-button:not(.collapsed) {
    background: rgba(109, 108, 108, 0.25);
    box-shadow: 0 8px 32px 0 rgba(10, 14, 55, 0.096);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: whitesmoke;
}

.modal-header {
    color: black;
}

.modal-body {
    color: black;
}

.modal-footer {
    color: black;
}